MARIADB_IMAGE=mariadb:10.11.11
MARIADB_CONTAINER_NAME=fivefield-mariadb
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=fivefield-root
MARIADB_DATABASE=fivefield
MARIADB_USER=fivefield
MARIADB_PASSWORD=fivefield
