MARIADB_DATABASE=manage_field
MARIADB_ROOT_PASSWORD=
MARIADB_ADMIN_USER=fivefield_admin
MARIADB_ADMIN_PASSWORD=
MARIADB_APP_USER=fivefield
MARIADB_APP_PASSWORD=
MARIADB_PORT=3306

DB_HOST=localhost
DB_PORT=${MARIADB_PORT}
DB_NAME=${MARIADB_DATABASE}
DB_USER=${MARIADB_APP_USER}
DB_PASSWORD=${MARIADB_APP_PASSWORD}

FLYWAY_USER=${MARIADB_ADMIN_USER}
FLYWAY_PASSWORD=${MARIADB_ADMIN_PASSWORD}

API_KEY=
